.searchdiv {
    justify-content: center;
    display: flex;
    margin: auto;
    width: 800px;
    height: 150px;
}
.search {
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 10px;
}

.info
{
    margin-top: 40px;
}
.alunos {
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    height: 800px;
}
