@page "/livros"
@inject HttpClient Http
<h3>Livros</h3>






@if (livros.Count <= 0 )
{
    <span> Carregando Livros...</span>
}
else
{
    <ul>
        @foreach (var livro in livros)
        {
             <li>@livro.Title - @livro.Author - @livro.Year </li>
        }
    </ul>
    
}

@code {
    List<Livro> livros = new List<Livro>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Livro>>("api/livro");
        if (result != null)
            livros = result;
    }
}
