@page "/services"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Services</h3>

<div class="createButton">
    <button @onclick="AddLivro" class="btn btn-primary">Adicionar Livro</button>
</div>

<div class="createButton">
    <button @onclick="AddAluno" class="btn btn-primary">Adicionar Aluno</button>
</div>

<div class="createButton">
    <button @onclick="AddLivro" class="btn btn-primary">Emprestimo de Livros</button>
</div>


@code {

    void AddLivro()
    {
        NavigationManager.NavigateTo("/livro");
    }

    void AddAluno()
    {
        NavigationManager.NavigateTo("/aluno");
    }

    void AddRent()
    {
        NavigationManager.NavigateTo("/emprestimo");
    }
}
