@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            
            <NavLink class="nav-link" href="livros">
                <Icon Name="IconName.Book"></Icon>
                <span class="oi oi-book" aria-hidden="true"></span> Livros
            </NavLink>
            <NavLink class="nav-link" href="alunos">
                <Icon Name="IconName.People"></Icon>
                <span class="oi oi-people" aria-hidden="true"></span> Alunos
            </NavLink>
            <NavLink class="nav-link" href="services">
                <Icon Name="IconName.Pen"></Icon>
                <span class="oi oi-clipboard" aria-hidden="true"></span> Serviços
            </NavLink>
            <NavLink class="nav-link" href="livros">
                <Icon Name="IconName.BarChart"></Icon>
                <span class="oi oi-list" aria-hidden="true"></span> Estatisticas
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
