/* /Pages/Alunos.razor.rz.scp.css */
.searchdiv[b-zvih5wsztm] {
    justify-content: center;
    display: flex;
    margin: auto;
    width: 800px;
    height: 150px;
}
.search[b-zvih5wsztm] {
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 10px;
}

.info[b-zvih5wsztm]
{
    margin-top: 40px;
}
.alunos[b-zvih5wsztm] {
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    height: 800px;
}
/* /Pages/EditAluno.razor.rz.scp.css */
body[b-6mug7zpfsw] {
}

.editbuttons[b-6mug7zpfsw] {
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 5px;
    margin-top: 15px;
}
/* /Pages/EditLivro.razor.rz.scp.css */
body[b-c1kqvbu6bf] {
}

.editbuttons[b-c1kqvbu6bf] {
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 5px;
    margin-top: 15px;
}
/* /Pages/LivroInfo.razor.rz.scp.css */
.livroInfo[b-4v9cbarkxs] {
    justify-content: center;
    display: flex;
    align-self: center;
    border-radius: 25px;
    border-width: 5px;
    width: 700px;
    padding: 20px 0px;
}
/* /Pages/Livros.Razor.rz.scp.css */
body[b-bwmuv9z61t] {
}

.createButton[b-bwmuv9z61t] {
    justify-content: center;
    display: flex;
    margin: 10px 0px;
}
.editButton[b-bwmuv9z61t] {
    justify-content: center;
    display: flex;
    margin: 10px 0px;
}

.livroInfo[b-bwmuv9z61t] {
    justify-content: center;
    display: flex;
    align-self: center;
    border-radius: 5px;
    border: 5px solid #ccddf7;
    width: 700px;
    padding: 20px 0px;
}

.livroImage[b-bwmuv9z61t] {
    position: relative;
    left: -100px;
    padding: 20px 0px;
}
.search[b-bwmuv9z61t] {
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 35px 30px;
    width: 800px;
    height: 150px;
    border: 2px solid #6e7989;
    margin-bottom: 50px;
}

.searchBar[b-bwmuv9z61t] {
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 10px;
}
.container[b-bwmuv9z61t] {
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}
/* /Pages/Services.razor.rz.scp.css */
.buttons[b-u2ehghr5rf] {
    justify-content: center;
    display: flex;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-fku4u4r6sm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fku4u4r6sm] {
    flex: 1;
}

.top-row[b-fku4u4r6sm] {
    background-color: whitesmoke;
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fku4u4r6sm]  a, .top-row[b-fku4u4r6sm]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-fku4u4r6sm]  a:hover, .top-row[b-fku4u4r6sm]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-fku4u4r6sm]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fku4u4r6sm] {
        display: none;
    }

    .top-row.auth[b-fku4u4r6sm] {
        justify-content: space-between;
    }

    .top-row[b-fku4u4r6sm]  a, .top-row[b-fku4u4r6sm]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fku4u4r6sm] {
        flex-direction: row;
    }

    .top-row[b-fku4u4r6sm] {
        position: sticky;
        top: 0;
        z-index: 1;

    }

    .top-row.auth[b-fku4u4r6sm]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-fku4u4r6sm], article[b-fku4u4r6sm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
